<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Credits</title>
</head>
<style>
body{
    background-color: black;
}
.back{
    
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 36px;
    font-weight: bold;
}
.back a{
    color: white;
    text-decoration: none;
}
.credits{
    position: absolute;
    top: 25%;
    left: 25%;
    font-size: 18px;
    font-weight: bold;
    color:white;
}
.credits ul{
    list-style-type:none;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
</style>
<body>
    <div class="credits">
        <ul>
            <li>Producer: Guillermo serraclara</li>
            <li>Producer Assistant: Aleix Olle</li>
            <li>Porject Director: Aleix Olle</li>
            <li>Director Assistant: Guillermo Serraclara</li>
            <li>Lead Designer: Aleix Olle</li>
            <li>Level Designer: Aleix Olle</li>
            <li>Sotryteller: Guillermo Serraclara</li>
            <li>Menu Design: Guillermo Serraclara</li>
            <li>Creatives: Guillermo serraclara Aleix Olle</li>
        </ul>
    </div>
    <div class="back">
        <a href="./../index.html">Atras</a>
    </div>
</body>
</html>